body{
    background-image: url("https://t3.ftcdn.net/jpg/06/40/52/14/360_F_640521426_vYQ4aYinXHHTUcoDpcyqfc2dgbSoJsnY.jpg"); 
    background-size:cover;
    background-color:black;/*fallback*/
    width:90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
/*     background: linear-gradient(to bottom,grey, rgba(0, 183, 255, 0.3)); */
    backdrop-filter: blur(10px);
    color: aliceblue;        
    font-size: 3vw;
    text-align: center;                
    padding: 3vw;
    border-radius: 2vw;
}
h1{
    color: rgb(235, 217, 217);
} 
#timer
{
    font-size: 6vw;
}
button
{
    padding: 1vh;
    backdrop-filter: blur(15px);
    color: white;
    border-radius: 1vh;
    cursor: pointer;
    border: none;
    font-size: 5vw;
}
button:hover
{
    background-color: rgb(31, 107, 126);
}
